html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
}
.fixed__header{
    position: fixed;
    background-color: white;
    box-shadow: 0 0 4px lightgrey;
    top: 0;
}
.nav__list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.logo{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #BA181B;
}
.order__link {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #BA181B;
    color: #fff;
    border-radius: 25px;
}
.cart__link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 30px;
    text-decoration: none;
    box-shadow: 0 0 10px lightgrey;
    background-color: #fff;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
}
.cart__link img{
    width: 40px;
    height: 40px;
}
.cart__link:hover, .order__link:hover{
    background-color: #E5383B;
    transition: 0.2s;
}
.nav__item{
    list-style: none;
}
.nav__item:not(:last-of-type){
    margin-right: 15px;
}
.nav__link{
    text-decoration: none;
    color: #161A1D;
    font-size: 18px;
}
.nav__link:hover{
    color: #BA181B;
    transition: 0.2s;
}
.logo .nav__link{
    color: #BA181B;
    font-size: 24px;
}
.nav__list:first-child{
    color: #BA181B;
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: #161A1D;
    padding: 2% 0;
    margin-top: 10%;
}
.footer ul {
    padding: 0;
    list-style: none;
}
.footer h3 {
    font-weight: normal;
    line-height: 15px;
}
.footer a{
    color: #B1A7A6;
    text-decoration: none;
    line-height: 30px;
}
.footer a:hover {
    color: #fff;
    transition: 0.2s;
}
.footer .info_block {
    margin: 0 5%;
}