html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.form__container{
    display: flex;
    width: 30%;
    align-items: center;
}
.form__container form {
    display: flex;
    flex-direction: column;
}
.form__container form input {
    margin-bottom: 15px;
}
.order {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 0 10px lightgrey;
    margin-bottom: 10px;
}
.order h3, .order h2 {
    line-height: 0;
}
.order .submit__btn {
    position: absolute;
    top: 10px;
    right: 10px;
}