.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.orders__container {
    display: flex;
    flex-flow: column-reverse nowrap;
}
.order__item {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 10px lightgrey;
    margin-bottom: 15px;
}
.order__item h3 {
    margin-right: 40px;
}
.order__item footer {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.order__item footer p {
    margin-right: 20px;
}
.button__container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}
.button__container button {
    border: 0;
    cursor: pointer;
    padding: 5px 10px;
}
.accept {
    background-color: lightgreen;
    margin-right: 10px;
}
.decline {
    background-color: #BA181B;
}
.order__link{
    color: #BA181B;
}
.created {
    color: #B1A7A6;
}
.in__progress {
    color: #fdca40;
}
.on__kitchen {
    color: #ff7d00;
}
.delivering {
    color: #76c893;
}
.closed {
    color: #111;
}