.container {
    width: 50%;
    margin: 0 auto;
}
.container header {
    display: flex;
    justify-content: center;
}
.container .products__container {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.products__container .product {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px lightgrey;
    padding: 8px 0;
    margin: 10px;
}
.product img {
    width: 50px;
    height: 50px;
}
.price {
    font-size: 18px;
}
.logo {
    position: static;
    line-height: 26px;
    margin-left: 20px;
}
.header {
    justify-content: flex-start;
}
.container footer {
    display: flex;
    justify-content: center;
}
.form {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.form input {
    margin: 0 5px 5px 0;
    width: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.form__row {
    display: flex;
    justify-content: center;
}
.form__row #comment {
    width: 325px;
}
#submit {
    padding: 10px 15px;
    background-color: #BA181B;
    width: 150px;
    font-size: 18px;
    color: white;
    border: 0px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 25px;
}
#submit:hover {
    background-color: #E5383B;
    transition: 0.2s;
}
.form__footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.alert {
    color: #E5383B;
}