.header__text {
    text-align: center;
    margin: 40px 0 30px 0;
}
.container {
    display: flex;
    justify-content: center;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}
.order__link {
    display: none;
}
.fixed__header {
    height: 27px;
}
.orders__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.order__item {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 10px lightgrey;
    width: 250px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.info {
    font-weight: bold;
}
.info span {
    font-weight: normal;
}
.order__item h3 {
    line-height: 0;
}
.order__item footer p:first-of-type {
    margin-right: 15px;
}